@using Vidly.Models

@model  List<Customer>

    @{
        ViewBag.Title = "index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<h1 class="jumbotron"> Customers</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr><th>Name</th>
                <th>MembershipType</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model)
            {
                <tr>
                    <td><a href="@Url.Action("details","Customer",new { id = @customer.Id}) "> @customer.Name</a></td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }

        </tbody>

    </table>
