
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:red">@Model.Movie.Name</h1>
<ul>
    @foreach (var customer in Model.Customers) {
    
       <li class="  list-group-item  list-group-item-action  list-group-item-info">@customer.Name</li> 
    }
</ul>

